p, h1, h2, h3 {
	font-family: Helvetica;
}

.header {
	background-image: url("pattern.webp");
	text-align: center;
	font-size: 100px;
	color: Khaki;
	font-weight: bold;
}

.brushes h2 {
	background-color: mediumspringgreen;
	font-weight: bold;
}

.frames h2 {
	background-color: LightCoral;
	font-weight: bold;
}

.paint h2 {
	background-color: SkyBlue;
	font-weight: bold;
}

.price {
	color: blue;
	font-weight: bold;
}